.field_area {
    margin: 0 0 10px;
    label {
        display: inline-block;
        margin-bottom: 5px;
        cursor: pointer;
        .descr {
            color: #616365;
        }
    }
    &.check {
        display: flex;
        label {
            margin: 0 0 0 5px;
        }
        .field {
            width: unset;
            margin-right: 5px;
        }
    }
    input[type="checkbox"] {
        cursor: pointer;
    }
}
.field {
    display: block;
    padding: 6px 6px 7px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #8f8f9d;
    border-radius: 3px;
    font-family: Arial, Helvetica, Verdana;
    font-size: 0.84rem;
}

.btn_area {
    display: flex;
    align-items: center;
    gap: 10px;
    &.under {
        margin-top: 20px;
        border-top: 2px solid;
        padding-top: 15px;
    }
    .field_area {
        margin: 0;
    }
}
.btn {
    padding: 6px 15px 8px;
    display: block;
    text-decoration: none;
    background-color: #1e2125;
    border-radius: 3px;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 0.84rem;
    transition: .2s;
    text-align: center;
    &:hover {
        background-color: #0074e8;
        color: #fff;
    }
    &.disable {
        background-color: #b2b2b2;
        cursor: default;
    }
}
table.list {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    th {
        padding: 10px 12px;
        background-color: #5e6066;
        color: #fff;
        font-weight: normal;
        a {
            color: #bbe0ff;
        }
    }
    td {
        padding: 10px 12px;
    }
    tr {
        &:nth-child(odd) {
            background-color: #edeeee;
        }
        &:hover {
            background-color: #d0d0d0;
        }
    }
    a {
        color: #d72e3c;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.tab-area {
    .tab-label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
        gap: 20px;
        .tab-item {
            position: relative;
            cursor: pointer;
            &.active {
                font-weight: bold;
            }
            &:hover {
                color: #d72e3c;
            }
            &:not(:last-child):after {
                content: '';
                display: block;
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                right: -11px;
                background: #000;
            }
        }
    }
    .tab-page {
        .tab-item {
            display: none;
            &.active {
                display: block;
            }
        }
    }
}
.message {
    padding: 7px 10px;
    background: rgba(143, 143, 157, 0.2);
    margin: 10px 0;
    border: 1px solid #8f8f9d;
    &.true {
        border-color: #33be40;
        background-color: rgba(51, 190, 64, 0.2);
    }
    &.false {
        border-color: #e33c3c;
        background-color: rgba(227, 60, 60, 0.2);
    }
}
.file-list {
    border-radius: 0 0 3px 3px;
    border: 1px solid #8f8f9d;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .file-link {
        display: inline-block;
        padding: 3px;
    }
}
.preview-list {
    border-radius: 0 0 3px 3px;
    border: 1px solid #8f8f9d;
    margin-top: -1px;
    display: flex;
    gap: 5px;
    padding: 5px;
    .preview-link {
        display: block;
        padding: 2px;
        border: 1px solid #8f8f9d;
        .preview {
            display: block;
            width: 40px;
            height: 40px;
        }
    }
}


.tac {
    text-align: center;
}
.nowrap {
    white-space: nowrap;
}
.deleted {
    font-style: italic;
    opacity: 0.6;
}
.panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

