.container {
    --max-width: 820px;
    --padding-side: 15px;
    width: min(var(--max-width), 100% - (var(--padding-side) * 2));
    margin-inline: auto;
    box-sizing: border-box;
}
.bimg, .bimg img {
    display: block;
    width: 100%;
}

.tab-area {
    .tab-label {
        display: flex;
        margin-bottom: 10px;
        gap: 5px;
        .tab-item {
            padding: 5px;
            border: 1px solid #ccc;
            cursor: pointer;
            &.active {
                color: blue;
            }
        }
    }
    .tab-page {
        .tab-item {
            display: none;
        }
    }
    .tab-item.active {
        display: block;
    }
}

table.list {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    th, td {
        border: 1px solid;
        padding: 5px 7px;
    }
}
