html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Open Sans';
    #wrapper {
        flex: 1 0 auto;
    }
    footer {
        flex: 0 0 auto;
        margin-top: 30px;
        .container {
            border-top: 1px solid;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
        }
    }
}
